body {
	margin-left: auto;
	margin-right: auto;
}

img {
	height:200px;
}

label {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 300px;
}

.app {
	width:800px;
}

.navbar-brand {
	font-size: 20px;
}

.navigation {
	background-color: #0080FF;
}


.signin-box {
	width: 300px;
}

.singin-box > input {
	margin:10px;
}


.signup-box {
  width: 300px;
}

.singup-box > input {
  margin:10px;
}


.pet-image {
	border: 2px solid;
	border-radius: 25px;
}

.pet-image-container {
	text-align: center;
}

.petView {
	padding: 20px;
	text-align: left;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.stats {
	width: 200px;
}

.status {
	color: red;
}

/* CSS for components in petView */
/*animation for blinking text*/
@keyframes blink {
 50% {
   opacity: 0.0;
 }
}

@-webkit-keyframes blink {
 50% {
   opacity: 0.0;
 }
}

/* Pet message console styling */
.status-message {
	font-family: monospace;
	text-align: left;
	color: #3FC380;
	background-color: #22313F;
	padding: 15px;
	height: 150px;
  overflow: auto;
}

.underscore {
 animation: blink 1s step-start 0s infinite;
 -webkit-animation: blink 1s step-start 0s infinite;
}

/* Progress bar styling */
.progress {
	width:150px;
}

.progress-bar {
	background-color: #0080FF;
}

/* Command button styling */
.command {
  text-decoration: none;
  background-color: #EEEEEE ;
  color: #333333 ;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC ;
  border-right: 1px solid #333333 ;
  border-bottom: 1px solid #333333 ;
  border-left: 1px solid #CCCCCC ;
  border-radius: 5px;
  display: inline-block;
  height: 70px;
  padding: 5px;
  margin: 5px;
  vertical-align: right;
  width: 70px;
}

.command:hover {
	box-shadow: 1px 1px 5px #999;
}